.fullmenus .fullmenus__heading {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
  font-style: italic;
  text-align: center;
}

.fullmenus .fullmenus__title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.fullmenus .fullmenus__description {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.fullmenus__content {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fullmenus .menuitem__list {
  margin-top: 2rem;
}
.fullmenus .menuitem__list .menuitems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem
}

@media screen and (max-width: 768px) {
  .fullmenus .menuitem__list .menuitems {
    grid-template-columns: repeat(1, 1fr);
  }
}
