.fullmenus .fullmenus__heading {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
  font-style: italic;
  text-align: center;
}

.fullmenus .fullmenus__title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.fullmenus .fullmenus__description {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.fullmenus__content {
  margin-top: 6rem;
}

.fullmenus__categories {
  background-color: #fff;
  gap: 0;
}

.fullmenus__categories--tab {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
  /* border-radius: 5px; */
  cursor: pointer;
}

.fullmenus__categories--tab.active {
  background-color: var(--primary-color-hover);
}

.fullmenus__categories--tab:hover {
  background-color: var(--primary-color-hover);
}

.fullmenus__categories--tab :nth-child(7) {
  border-bottom: none;
}

.fullmenus .menuitem__list {
  /* display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem; */
  margin-top: 2rem;
  
}
.fullmenus .menuitem__list .menuitems {
  display: grid;
  row-gap: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .fullmenus .menuitem__list {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }
}
