.popularmenu .popularmenu__heading {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
  font-style: italic;
  text-align: center;
}

.popularmenu .popularmenu__title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.popularmenu .popularmenu__description {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 2em;
}
.popularmenu .menuitem__list {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.popularmenu .menuitem__list .menuitems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .popularmenu .menuitem__list .menuitems {
    width: 60%;
  }
}
@media screen and (max-width: 640px) {
  .popularmenu .menuitem__list .menuitems {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .popularmenu .menuitem__list .menuitems {
    width: 95%;
  }
}
